extends layout

block content
  h1= title

  form.form-group(action="/add", method="post")
    label(for="task") New Task
    input.form-control(type="text", name="task", id="task", placeholder="Enter your task")
    button.btn.btn-primary(type="submit") Add

  ul.list-group.mt-4
    each task, index in tasks
      li.list-group-item.d-flex.justify-content-between.align-items-center
        span= task
        form(action="/delete", method="post")
          input(type="hidden", name="index", value=index)
          button.btn.btn-danger(type="submit") Delete
